<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Juliaの世界">
  <meta name="twitter:site" content="@dokudo91">
  <meta name="twitter:description" content="dokudo91のメモ">
  <meta name="twitter:image" content="https://dokudo91.github.io/assets/ソフィーの世界.png">
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <!-- <link rel="icon" href="/assets/favicon.png"> -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😀</text></svg>">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  {{insert header.html}}

<!-- Content appended here -->
